*{
    box-sizing: border-box;
}

body{
  min-height: 100vh;
  margin: 0px;
  display: block;
  background:lightblue;
  overflow: auto;
}

.container{
    overflow: hidden;
    padding: 5px 10px;
    border-radius: 35px;
}

div{
    overflow: hidden;
}

.card-img-top{
    height: 250px;
}

#cravenReview,#liesReview,#deepReview,#shiningReview{
  display: none;
}

.bookReview{
  display: none;
}

.d-flex .card{
  width: 24%;
  border-radius: 0px 70px;
}

.card-title{
  text-transform: capitalize;
  color: red;
}