*{
    box-sizing: border-box;
}

html,body{
  height: 100%;
  background:lightblue;
}

.container{
    overflow: hidden;
    padding: 5px 0px;
}

div{
    overflow: hidden;
}

.card-img-top{
    height: 250px;
}

#liesText,#deepText,#shiningText,#cravenText{
  display: none;
}

.bookReview{
  display: none;
}

.d-flex .card{
  width: 24%;
}