body{
    background-color: #500778;
    overflow-x: hidden;
}
.carousel-inner > .item > img {
    height:500px; 
}
.about h1 {
    color: white;
    text-align: center;
    font-size: 50px;   
    font-family: 'Tangerine', serif;
 
}
.about p{
    color: white;
    text-align: center;
    font-size: 22px;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Tangerine', serif;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}