body{
     background-color: #500778;
    overflow-x: hidden;
}
.carousel-inner > .item > img {
     height:500px; 
}
.about h1 {
    color: white;
    text-align: center;
    font-size: 50px;    
}
.about p{
    color: white;
    text-align: center;
    font-size: 18px;
    padding-left: 5%;
    padding-right: 5%;

}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}